.containerText {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.text {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    color: #2c3e50;
    width: 164px;
}

.btn {
    border: 1px solid #888;
    border-radius: 6px;
    background-color: #f2f2f2;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-left: auto;
    padding: 4px 12px;
    font-weight: 500;
    height: 36px;
    display: flex;
    align-items: center;
        
}

.btn:hover {
    background-color: #8850f0;
    color: white;
    border: none;
}